* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    ;
}

body {
    margin: 0;
    padding: 0;
}

.text-primary {
    color: #FD6E0A;
}

.btn-primary {
    height: 64px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    background: #FD6E0A;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 18px 35px;
}

.header {
    background: #FFF8F3;
    background-image: url(../images/header_bg.png), url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, left;

}

/* header and navigation style */
nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0 230px;
    padding: 50px 0;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
}

nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

nav li {
    list-style: none;
    margin-left: 50px;
}

/* banner styles */
.banner {
    margin: 0 200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.banner-title {
    font-weight: 700;
    font-size: 85px;
    margin-bottom: 5px;
}

.banner-sub-title {
    font-weight: 600;
    font-size: 45px;
    margin-bottom: 20px;
}

.banner-description {
    font-size: 18px;
    margin-bottom: 30px;
}

/* main style */
main {
    max-width: 1140px;
    margin: 0 auto;
}

/* about section styles */
.about {
    margin-top: 130px;
    background: #FFF8F3;
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
}

.section-title {

    margin-bottom: 30px;
    font-weight: 700;
    font-size: 35px;
}

.section-description {
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
}

.about-info-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;

}

.about-info-container .info-title {
    font-size: 20px;
    color: #757575;
}

.about-info-container .info-description {
    font-weight: 700;
    font-size: 20px;
    color: #474747;
}